/*********************************************

Raving Redactionist CSS.

**********************************************/

/* Just some general syling of the page for aesthetics. Personal choice. */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
